<div class="flexrow">
  <div class="flexcol">

    <div class="flexrow">
      <div class="flexcol">
        <h4 class="bh-attr-title">Starting Stats</h4>
        <div>Starting Hit Points (HP): 1d6+2</div>
        <div>Starting Hit Die (HD): 1d6</div>
        <div>Usable Weapons & Armor: All one-handed</div>
        <div>
          weapons, all bows, daggers, cloth,leather,
          small shield
        </div>
        <div>
          Attack Damage: 1d6 or 1d4 unarmed (See also: Death From Above)
        </div>
      </div>
    </div>

    <span class="bh-title-font bh-section">
      D6 Hunting Trophy
    </span>
    <div class="flexrow">
      <ol>
        <li>Ivory drinking horn</li>
        <li>Alligator tooth necklace</li>
        <li>Bear skin cloak</li>
        <li>Wolf skin hood</li>
        <li>Bag of human-like ears</li>
        <li>Monster's Eye in a jar that
          tracks your movement when it
          is visible
        </li>
      </ol>
    </div>

    <span class="bh-title-font bh-section">
      Equipment
    </span>
    <div class="flexrow">
      <ol>
        <li>Green leather hood & vest (AV2)</li>
        <li>Hatchet</li>
        <li>Bow & arrows (Ud8)</li>
        <li>2d6 coins</li>
        <li>Bag of pelts (common to the region)</li>
      </ol>
    </div>

    <span class="bh-title-font bh-section">
      Nature’s ally
    </span>
    <p>
      A ranger has Advantage when making an
      Attribute Test for things related to survival
      in the wild, knowledge of nature, animal
      handling, or tracking.
    </p>

    <span class="bh-title-font bh-section">
      Heart of the mountain
    </span>
    <p>
      When you gain a new level, the roll for your hit points can be made with Advantage.
    </p>
  </div>

  <div class="flexcol">

    <div class="flexrow">
      <div class="flexcol">
        <h4 class="bh-attr-title">Fight in the Shade</h4>
        <p>A Ranger has a ‘pool’ of Damage Dice (d4s)
          equal to their HD that she may use in lieu
          of her normal damage.</p>

        <ul>
          <li>
              When making an Attack with a ranged
              weapon distribute any number of these
              Damage Dice among any number of
              targets at a range of up to and including
              Distant.
          </li>
          <li>
              For at least one target the Player assigns
              a Damage Dice, the Player must narrate a
              bad-ass trick shot for the Attack.
              • Make an Attribute Test for each target to
              see if it is hit, if so, roll the Damage Dice
              assigned to it and reduce its HP by that
              amount.
          </li>
          <li>
              The pool of Damage Dice resets at the
              start of the Ranger’s Turn.
          </li>
          <li>
              When attacking with Fight in the Shade a
              Ranger's attacks are not at disadvantage
              from being at Close or Distant range, if
              you play with this rule.
          </li>
        </ul>

        <span class="bh-title-font bh-section">
          Resourceful fletcher
        </span>
        <p>
          Gathering up branches, bones, stones,
          plants and other materials, a Ranger can
          restore one level of Usage Die on arrows,
          bolts, or other mundane ammunition up to
          d8 after a Rest. If you don’t have any
          ammo, it instead brings it to a Ud4.
        </p>

        <span class="bh-title-font bh-section">
          Gaining a new level
        </span>
        <p>
          Acquire and share a number of
          Experiences equal to your current HD to
          advance a level.
        </p>
        <p>
          When you gain a level:
        </p>
        <ul>
          <li>
            Roll a d20 once for each Attribute - if you
            roll over, it goes up one point, make an
            extra roll for either Dexterity or
            Constitution.
          </li>
          <li>
            Gain 1HD - Roll 1d6 with Advantage (see Heart of the Mountain) - gain the highest
            roll as additional maximum XP.
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>